$border-radius:5px;
$sidebar-width:250px;
$slider-height:200px;
$default-padding:5px;

$border-color-dark: #4a4a4a;
$border-color-light: #8e8e8e;

$bg-remove-button: #ff4054;
$bg-remove-button-hover: #ff2025;