@import "variables";

.new-todo-box {
  width: 100%;
  padding: 15px 0;

  .input-group {
    display: flex;
    align-content: stretch;

    .new-todo-name {
      flex: 1 0 auto;
      border: 1px solid $border-color-dark;
      border-radius: 5px 0 0 5px ;
      border-right: none;
      padding: 5px 15px;

      &:focus {
        border-right: none;
        outline: none;
      }
    }

    .add-button {
      border-radius: 0 5px 5px 0;
      padding: 5px 15px;
      border: 1px solid $border-color-dark;
      background: #bfbfbf;
      cursor: pointer;

      &:disabled {
        cursor: no-drop;
      }
    }
  }
}